<div class="section">
    <div class="container-sm">
        <div class="row gx-5">
            <div class="panel col-lg-12">
                <h2 class="section-title">PROYECTOS</h2>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                    <div class="col">
                      <div class="card">
                        <img src="img/logo_amanda.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Sistema  de backup del datacenter con software libre Amanda</h5>
                          <p class="card-text">Proyecto e instalacion del sistema de backup en servidores virtualizado en vmware y virtualbox.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img src="img/asterisk.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Conexion  de oficina  remota con telefonia IP Asterisk </h5>
                          <p class="card-text">Proyecto, configuracion e instalacion de una conexion de interno telefonico de una oficina remota con software libre y hardware economico</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img src="img/docker.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Instalacion de servidores virtuales de Docker en el MINCYT</h5>
                          <p class="card-text">Proyecto e instalacion en vmware de servidores de Docker</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img src="img/gitlab.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Instalacion de servidor de Gitlab en MINCYT</h5>
                          <p class="card-text">Para manejo de versionado y contar con repositorio local del software desarrollado para el Ministerio
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
  </div>