<header>
    <div class="container-sm">
  <div class="row gx-5">
    <div class="banner col-lg-12">
      <img src="img/banner.jpg" alt="custom-banner" class="img-fluid" width="1600" height="640">
    </div>
  </div>
</div>
<div class="container-sm">
  <div class="row gx-5">
    <div class="about-me col-lg-12">
      <div class="row gx-5">
        <div class="col-lg-5 justify-content-center position-relative">
          <img src="img/mbc.jpg" alt="Marta" class="img-fluid position-absolute translate-middle">
          <img src="img/mbc.jpg" alt="Marta" class="img-fluid position-absolute translate-middle change-pic">
          <h1 id="dev-name">Marta Beatriz Caldentey</h1>
          <h2 id="dev-title">Ingeniera Electronica</h2>
        </div>
        <div class="col-lg-7 d-flex align-items-center">
          <div class="container about-me-description">
            <div class="row">
              <div class="col-lg-12">
                <h3>SOBRE MI</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <p>Trabajo en
la Dirección de Sistemas Informáticos del Ministerio de Ciencia, Tecnología e
Innovación, soy Arquitecta de Soluciones de Tecnologías de la Información y
las Comunicaciones, trabajo en administración y gestión de las infraestructuras
de procesamiento y almacenamiento centralizado virtualizadas, incluyendo el diseño, implementación y
operación de mecanismos de respaldo de datos.
</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</header>
