<div class="section container-sm row gx-5 panel col-lg-12">
  <h2 class="section-title">EXPERIENCIA</h2>
    <div class="card mb-3 row g-0">
      <div class="col-md-4">
        <img src="img/fiuba.png" class="img-fluid rounded-start" alt="FIUBA">
      </div>
      <div class="col-md-8 card-body">
        <h5 class="card-title">Docente Auxiliar</h5>
        <p class="card-text">Materia Señales y Sistemas</p>
        <p class="card-text"><small class="text-muted">Marzo1988 - Actualidad</small></p>
      </div>
    </div>
</div>