<div class="section">
  <div class="container-sm">
    <div class="row gx-5">
      <div class="panel col-lg-12">
        <h2 class="section-title">EXPERIENCIA LABORAL</h2>
        <app-add-experiencia (onAddExp)="addExp($event)"/>
        <div class="card mb-3" *ngFor="let exp of experienciaList">
          <div class="row g-0">
            <div class="col-md-4">
              <img [src]="exp.explogo" class="img-fluid rounded-start" alt="FIUBA">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <nav class="navbar justify-content-between">
                  <h3 class="card-title">{{exp.empresa}}</h3>
                  <button class="btn btn-info right-nav ms-auto" (click)="onDelete(exp.id)">Borrar</button>
                </nav>
                <h5 class="card-title">{{exp.puesto}}</h5>
                <p class="card-text">{{exp.detalle}}</p>
                <p class="card-text"><small class="text-muted">{{exp.periodo}}</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>