<div class="section">
    <div class="container-sm">
      <div class="row gx-5">
        <div class="panel col-lg-12">
          <h2 class="section-title">EXPERIENCIA</h2>
          <div class="card-group row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <div class="col ms-auto">
              <div class="card" style="width: 18rem;">
                <img src="img/fiuba.png" class="card-img-top" alt="..." style="height: 286px !important ; width: 286px !important ;">
                <ul class="list-group list-group-flush">
                <li class="list-group-item exp-company"><h3>FIUBA</h3></li>
                <li class="list-group-item exp-job">Docente Part-time</li>
                <li class="list-group-item exp-date">Marzo1988 - Actualidad</li>
                </ul>
                <div class="card-body">
                  <p class="card-text">Materia Señales y Sistemas.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="width: 18rem;">
                <img src="img/mincyt.png" class="card-img-top" alt="..." style="height: 286px !important ; width: 286px !important ;">
                <ul class="list-group list-group-flush">
                <li class="list-group-item exp-company"><h3>MINCYT</h3></li>
                <li class="list-group-item exp-job">Administrador de red</li>
                <li class="list-group-item exp-date">Marzo 1988 - Actualidad</li>
                </ul>
                <div class="card-body">
                  <p class="card-text">Administración y gestión de las infraestructuras
                                        de procesamiento y almacenamiento centralizado virtualizadas, incluyendo el diseño, implementación y
                                        operación de mecanismos de respaldo de datos</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="width: 18rem;">
                <img src="img/fiuba.png" class="card-img-top" alt="..." style="height: 286px !important ; width: 286px !important ;">
                <ul class="list-group list-group-flush">
                <li class="list-group-item exp-company"><h3>FIUBA</h3></li>
                <li class="list-group-item exp-job">Docente Auxiliar</li>
                <li class="list-group-item exp-date">Marzo 1995 - Diciembre 2000</li>
                </ul>
                <div class="card-body">
                  <p class="card-text">Materia Control Digital del postgrado en control Automatico.</p>
                </div>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
