<nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="img/arg-prog.png" alt="Argentina Programa">	
      </a>
      <p class="navbar-brand-text align-self-end">#YoProgramo</p>	
            <a href="https://www.linkedin.com/in/marta-beatriz-caldentey-sarmiento-28499422/" class="nav-link right-nav ms-auto"><i class="bi bi-linkedin"></i></a>  
      <a href="https://www.instagram.com/mbcaldentey/" class="nav-link right-nav ms-auto"><i class="bi bi-instagram"></i></a>
            <div class="right-nav ms-auto">
                 <button class="btn btn-outline-light" type="light">Login</button>
            </div>
    </div>
</nav>