<nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid gap-2">
      <a class="navbar-brand" href="#">
        <img src="img/arg-prog.png" alt="Argentina Programa">	
      </a>
      <div class="navbar-brand-text">#YoProgramo</div>	
      <div class="flex align-items:center right-nav ms-auto navbar gap-2">
          <a href="https://www.linkedin.com/in/marta-beatriz-caldentey-sarmiento-28499422/" class="nav-link right-nav ms-auto light"><i class="bi bi-linkedin"></i></a>
          <a href="https://www.instagram.com/mbcaldentey/" class="nav-link right-nav ms-auto"><i class="bi bi-instagram"></i></a>
          <app-inisesion/>
      </div>
    </div>
</nav>